name: Metrics

on:
  schedule:
    - cron: '0 */12 * * *' # every 12 hours
  workflow_dispatch:

permissions:
  contents: read

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: mohammedfirdouss
          template: classic
          filename: metrics.svg
          base: header, activity, community, repositories, metadata
          config_timezone: UTC
          plugin_followup: yes
          plugin_followup_sections: repositories, user
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: programming
          plugin_languages_recent_categories: programming
          plugin_languages_recent_days: 14
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_threshold: 2%
